body[data-theme="dark"] {
   background-color: #121212;
   color: #ffffff;

}

body[data-theme="dark"] {
   background-color: #121212;
   color: #ffffff;
}

body[data-theme="dark"] a {
   color: #90caf9;
   /* Light blue for links */
}

body[data-theme="dark"] button,
body[data-theme="dark"] input,
body[data-theme="dark"] select,
body[data-theme="dark"] textarea {
   background-color: #424242;
   color: #ffffff;
   border: 1px solid #ffffff;
}

body[data-theme="dark"] img {
   filter: brightness(0.8);
}


body[data-theme="light"] {
   background-color: #ffffff;
   color: #000000;
}

body[data-theme="high-contrast"] {
   background-color: #000000;
   color: #ffff00;
   font-weight: bold;
}

/* Styles for the overlay labels */
#assistEase-overlay div {
   font-size: 14px;
   font-weight: bold;
   text-align: center;
   pointer-events: none;
   /* Prevent interaction with labels */
}